@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-50: #f5f8fa;
  --color-primary-100: #e6edf3;
  --color-primary-200: #c8d9e4;
  --color-primary-300: #a9c3d4;
  --color-primary-400: #8aaac3;
  --color-primary-500: #6c91b3; /* Steel blue */
  --color-primary-600: #58789b;
  --color-primary-700: #465f7f;
  --color-primary-800: #354764;
  --color-primary-900: #24304a;
  --color-primary-950: #161d2f;

  --color-secondary-50: #f6f7f8;
  --color-secondary-100: #e2e4e6;
  --color-secondary-200: #c5c8cc;
  --color-secondary-300: #a9adb3;
  --color-secondary-400: #7f848c;
  --color-secondary-500: #555b63; /* Dark charcoal – cooler tone */
  --color-secondary-600: #434950;
  --color-secondary-700: #32363c;
  --color-secondary-800: #212428;
  --color-secondary-900: #111316;
  --color-secondary-950: #08090b;

  --color-tertiary-50: #fdf3f0;
  --color-tertiary-100: #fbe1da;
  --color-tertiary-200: #f4bfb0;
  --color-tertiary-300: #ec9c86;
  --color-tertiary-400: #e57a5c;
  --color-tertiary-500: #cc5e42; /* Deep rust */
  --color-tertiary-600: #a84a35;
  --color-tertiary-700: #843727;
  --color-tertiary-800: #602319;
  --color-tertiary-900: #3b100c;
  --color-tertiary-950: #240806;
}

@layer base {
  body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.25rem;
    color: #050505;
  }
}
