@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-50: #fdf3f0;
  --color-primary-100: #fbe1da;
  --color-primary-200: #f4bfb0;
  --color-primary-300: #ec9c86;
  --color-primary-400: #e57a5c;
  --color-primary-500: #cc5e42; /* Deep rust */
  --color-primary-600: #a84a35;
  --color-primary-700: #843727;
  --color-primary-800: #602319;
  --color-primary-900: #3b100c;
  --color-primary-950: #240806;

  --color-secondary-50: #f5f5f5;
  --color-secondary-100: #e0e0e0;
  --color-secondary-200: #bdbdbd;
  --color-secondary-300: #9e9e9e;
  --color-secondary-400: #757575;
  --color-secondary-500: #4a4a4a; /* Dark charcoal */
  --color-secondary-600: #3a3a3a;
  --color-secondary-700: #2b2b2b;
  --color-secondary-800: #1b1b1b;
  --color-secondary-900: #0c0c0c;
  --color-secondary-950: #050505;

  --color-tertiary-50: #f5f8fa;
  --color-tertiary-100: #e6edf3;
  --color-tertiary-200: #c8d9e4;
  --color-tertiary-300: #a9c3d4;
  --color-tertiary-400: #8aaac3;
  --color-tertiary-500: #6c91b3; /* Steel blue */
  --color-tertiary-600: #58789b;
  --color-tertiary-700: #465f7f;
  --color-tertiary-800: #354764;
  --color-tertiary-900: #24304a;
  --color-tertiary-950: #161d2f;
}

@layer base {
  body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.25rem;
    color: #050505;
  }
}
